.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button[type="submit"] {
    margin-top: 10px;
  }
  
  button[type="button"] {
    background-color: #f44336;
    margin-top: 10px;
  }
  
  button[type="button"]:hover {
    background-color: #e60000;
  }
  
  p {
    color: #d9534f;
    text-align: center;
  }
  