.mission-content {
    max-width: 80%;
    margin: 0 auto;
    color: white;
    padding: 20px;
  }
  
  .mission-title {
    font-family: 'Cinzel', serif;
    font-size: clamp(2rem, 5vw, 3rem);
    text-transform: uppercase;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .mission-title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #fff;
  }
  
  .mission-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.8;
    font-weight: 300;
    margin-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    color: #dcdcdc;
  }
  
  .mission-text::before,
  .mission-text::after {
    content: '"';
    position: absolute;
    font-size: 3rem;
    top: -1.5rem;
    color: #fff;
  }
  
  .mission-text::before {
    left: -2rem;
  }
  
  .mission-text::after {
    right: -2rem;
  }
  